/**
 * Created by krause on 2016-07-22.
 */

@media only screen and (max-width: 960px) {
  body {
    font-size: 145%;
  }
}

html {
  scroll-behavior: smooth;
}

img {
  object-fit: contain;
}

.smt_anchor {
  display: block;
  position: relative;
  top: -75px;
  height: 0;
  width: 0;
  visibility: hidden;
  z-index: -1;
  pointer-events: none;
}

.smt_padding {
  height: 75px;
  width: 100%;
}

@media only screen and (max-width: 960px) {
  .smt_padding {
    height: 161px;
  }

  .smt_anchor {
    top: -161px;
  }
}

body {
  overflow-y: scroll;
  min-height: 100vh;
}

div.navbar-header>* {
  font-size: 180%;
  margin-top: 0.18em;
}

.navbar-right {
  text-align: right;
}

.nav-line {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.footer-style {
  padding: 10px;
  text-align: right;
  filter: drop-shadow(0 0 4px white) drop-shadow(0 0 4px white) drop-shadow(0 0 4px white) drop-shadow(0 0 4px white);
}

.empty-footer {
  height: 40px;
  width: 100%;
}

.anchor {
  color: #333 !important;
  text-decoration: none;
}

.anchor>i {
  opacity: 0;
}

.anchor:hover {
  opacity: 0.8;
  text-decoration: none;
}

.anchor:hover>i {
  opacity: 0.8;
}

:target ~ .media-body {
  background-color: #ffa;
}

.type_committee {
  filter: sepia(80%);
}
