/**
 * Created by krause on 2016-04-22.
 */

#timeline-row {
  margin-bottom: 1em;
}

#div-timeline * {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#div-timeline>svg {
  touch-action: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgray;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}
