/**
 * Created by krause on 2016-04-22.
 */

#timeline-row {
  margin-bottom: 1em;
}

#div-timeline * {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@keyframes blink {
  0% {
    background-color: white;
  }
  50% {
    background-color: #efefef;
  }
  100% {
    background-color: white;
  }
}

#div-timeline:empty {
  width: 617px;
  height: 325px;
  transition: all 0.5s ease-in-out;
  animation: blink normal 2s infinite ease-in-out;
  filter: blur(5px);
}

#div-legend:empty {
  width: 165px;
  height: 171px;
  transition: all 0.5s ease-in-out;
  animation: blink normal 2s infinite ease-in-out;
  filter: blur(5px);
}

@media only screen and (max-width: 960px) {
  #div-timeline:empty {
    width: 100%;
    height: 325px;
  }

  #div-legend:empty {
    width: 100%;
    height: 176px;
  }
}

#div-timeline>svg {
  touch-action: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgray;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}
