<!DOCTYPE html>
<html lang="en">
<head>
  {tracking}
  <link rel="icon" type="image/png" href="img/icon.png">
  <title>{name}</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{description}">
  <meta name="author" content="Josua (Joschi) Krause">
  <link rel="stylesheet" type="text/css" href="lib/jk-js/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="js/timeline.css">
  <link rel="stylesheet" type="text/css" href="js/index.css">
  <script src="lib/jk-js/lib/d3/d3.min.js" charset="utf-8"></script>
  <script src="js/timeline.js" charset="utf-8"></script>
  <script type="text/javascript">
    {js}
  </script>
  <script type="application/ld+json">
    {knowledge}
  </script>
</head>
<body onload="start()">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container clearfix">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">{name}</a>
      </div>
      <div class="nav navbar-nav navbar-right">
        <a href="https://scholar.google.com/citations?user=hFjNgPEAAAAJ"><img src="img/scholarlogo.png" style="height: 32px;"></a>
        <a href="https://www.linkedin.com/in/josuakrause/"><img src="img/linkedinlogo.png" style="height: 32px;"></a>
        <a href="https://github.com/JosuaKrause/"><img src="img/GitHub-Mark-32px.png" style="width: 32px;"></a>
        <img src="img/photo.jpg" style="width: 64px;">
      </div>
    </div>
  </nav>
  <div class="container bs-docs-container">
    <div class="row" id="timeline-row">
      <div class="col-md-8">
        <div id="div-timeline"></div>
      </div>
      <div class="col-md-2">
        <div id="div-legend"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <p style="text-align: justify;">
          {description_long}
        </p>
        <p style="text-align: justify;">
          {description_add}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10" role="main">
        {content}
      </div>
    </div>
  </div>
</body>
</html>
