<!DOCTYPE html>
<html lang="en">
<head>
  {tracking}
  <link rel="icon" type="image/png" href="{logo}">
  <title>{title}</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{description}">
  <meta name="author" content="Josua (Joschi) Krause">
  <link rel="stylesheet" type="text/css" href="lib/jk-js/lib/bootstrap/css/bootstrap.min.css">
  <style type="text/css">
  .backlink {{
    position: fixed;
    left: 20px;
    top: 10px;
    font-size: 30px;
    z-index: 1;
  }}

  @media only screen and (max-width: 960px) {{
    .backlink {{
      visibility: hidden;
      pointer-events: none;
    }}
  }}

  .backlink a:hover {{
    text-decoration: none;
  }}

  footer {{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }}

  .footer-style {{
    padding: 10px;
    text-align: right;
    filter: drop-shadow(0 0 4px white) drop-shadow(0 0 4px white) drop-shadow(0 0 4px white) drop-shadow(0 0 4px white);
  }}

  .empty-footer {{
    height: 40px;
    width: 100%;
  }}
  </style>
</head>
<body>
  <div class="backlink"><a href=".">⬅</a></div>
  <footer>
    <div class="footer-style">
      © {copyright} <a href="https://github.com/JosuaKrause/info">[source]</a>
    </div>
  </footer>
  <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-9">
        <div style="text-align: center;">
          <h3><em>{conference}</em></h3>
          <h1>{title}</h1>
          <h3>{authors}</h3>
        </div>
      </div>
    </div>
    {image}
    <div class="row">
      <div class="col-md-9">
        {abstract}
        {links}
        {video}
        {talk}
        {bibtex}
      </div>
    </div>
    <div class="empty-footer"></div>
  </div>
</body>
</html>
