<!DOCTYPE html>
<html lang="en">
<head>
  {tracking}
  <link rel="icon" type="image/png" href="{logo}">
  <title>{title}</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{description}">
  <meta name="author" content="Josua (Joschi) Krause">
  <link rel="stylesheet" type="text/css" href="lib/jk-js/lib/bootstrap/css/bootstrap.min.css">
  <style type="text/css">
  .backlink {{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 30px;
  }}

  .backlink a:hover {{
    text-decoration: none;
  }}
  </style>
</head>
<body>
  <div class="backlink"><a href=".">⬅</a></div>
  <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-9">
        <div style="text-align: center;">
          <h3><em>{conference}</em></h3>
          <h1>{title}</h1>
          <h3>{authors}</h3>
        </div>
      </div>
    </div>
    {image}
    <div class="row">
      <div class="col-md-9">
        {abstract}
        {links}
        {video}
        {talk}
        {bibtex}
      </div>
    </div>
  </div>
</body>
</html>
