<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <link rel="StyleSheet" type="text/css" href="style.css">
    <title>
      Interactive Visualization for Real-Time Public Transport Journey Planning
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <div style="width: 800px;margin: auto;">
      <div style="text-align: center;">
        <h3>
          <i>SIGRAD 2012 conference -- Short Paper</i>
        </h3>
        <h1>
          Interactive Visualization for Real-Time<br>
          Public Transport Journey Planning
        </h1>
        <h3>
          <a href="josua.krause@uni-konstanz.de">Josua&nbsp;Krause</a> &nbsp;&nbsp; Marc&nbsp;Spicker &nbsp;&nbsp; Leonard&nbsp;Wörteler<br>
          Matthias&nbsp;Schäfer &nbsp;&nbsp; Leishi&nbsp;Zhang &nbsp;&nbsp; Hendrik&nbsp;Strobelt<br>
          University of Konstanz, Germany
        </h3>
        <div>
          <img alt="Geographic Map" src="teaser_geo.png" style="width: 200px; height: 148px; padding: 2px;" width="200" height="148" border="1px"> <img alt="Radial Layout" src="teaser_radial.png" style="width: 200px; height: 148px; padding: 2px;" width="200" height="148" border="1px"> <img alt="Stress-Majorization Layout" src="teaser_stress.png" style="width: 200px; height: 148px; padding: 2px;" width="200" height="148" border="1px">
        </div>
      </div>
      <h1>
        Abstract
      </h1>
      <p>
        On-line journey planners encourage the use of public transport systems by easing the task of finding “optimal” routes between start and destination locations. Most of the tools lack the flexibility of comparing journeys that end at different (but maybe nearby) destinations. In this paper, we propose a novel visualization tool for public transport journey planning that integrates graph layout techniques to allow visual comparison of travel time and journey directions. Our tool uses data from a real world bus system. Taking this data as example, use cases describe the tool’s applicability to trip planning with route alternatives.
      </p>
      <h1>
        Downloads
      </h1>
      <div style="width: 200px;float: left;">
        <b style="font-size:16px">Paper</b>
        <div style="float: left;">
          <a href="http://www.ep.liu.se/ecp/081/014/ecp12081014.pdf"><img alt="PDF" src="thumbnail_paper.png" width="55" height="55" border="0"></a>
        </div>
        <div>
          <a href="http://www.ep.liu.se/ecp/081/014/ecp12081014.pdf">PDF</a><br>
          (6.3 MB)
        </div>
      </div>
      <div style="width: 200px;float: left;">
        <b style="font-size:16px">Video</b>
        <div style="float: left;">
          <a href="busvis.mp4"><img alt="Video" src="thumbnail_video.png" width="55" height="55" border="0"></a>
        </div>
        <div>
          <a href="busvis.mp4">busvis.mp4</a><br>
          (9.2MB)
        </div>
      </div>
      <div style="width: 200px;float: left;">
        <b style="font-size:16px">GitHub</b>
        <div style="float: left;">
          <a href="https://github.com/JosuaKrause/BusVisPublic"><img alt="GitHub" src="http://octodex.github.com/images/original.jpg" width="55" height="55"></a>
        </div><a href="https://github.com/JosuaKrause/BusVisPublic"></a>
        <div>
          <a href="https://github.com/JosuaKrause/BusVisPublic">BusVis</a>
        </div>
      </div>
      <div style="float: none;">
        <img alt="BusVis" src="busvislogo.png" width="200" border="0">
      </div>
      <h1>
        BibTex
      </h1>
      <pre>
           @inproceedings {KSW+12a,
             author = {Krause, Josua and Spicker, Marc and Wörteler, Leonard
                   and Schaefer, Matthias and Zhang, Leishi and Strobelt, Hendrik},
             booktitle = {Proceedings of SIGRAD 2012 -- Interactive Visual Analysis of Data},
             title = {{Interactive Visualization for Real-time Public Transport Journey Planning}},
             year = {2012},
             pages = {95 -- 98},
           }
</pre>
    </div>
  </body>
</html>
